body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
}

*, * before, * after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 1400px;
  height: 5000px;
  background-color: #fceff5;
  margin: 20px auto;
  border-radius: 2px;
  box-shadow: 0 0 10px 1px #aaa;
}
.container header {
  display: flex;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgba(252, 239, 245, 0.9);
  border-bottom: solid 5px #f7dbe8;
}
.container header .logoHome {
  display: flex;
  height: 75px;
  margin: 5px 0 0 10px;
  transform: scale(0.7);
  perspective: 1000px;
}
.container header .logoHome img {
  cursor: default;
  transition: 1s linear;
}
.container header .logoHome h1 {
  font-size: 40px;
  font-weight: 400;
  font-family: "Operator Mono", sans-serif;
  font-style: italic;
  margin: auto 0;
  cursor: default;
  transition: 1s linear;
}
.container header .logoHome:hover img {
  transform: rotateY(1080deg);
}
.container header .logoHome:hover h1 {
  transform: rotateX(1080deg);
}
.container header nav {
  display: flex;
  margin-top: 5px;
}
.container header nav a {
  position: relative;
  color: #666;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  text-decoration: none;
  margin: auto 70px auto 0;
  transition: 0.2s linear;
}
.container header nav a:last-child {
  margin-right: 150px;
}
.container header nav a::before {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #222;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.container header nav a:hover {
  color: #222;
  transform: scale(1.1);
}
.container header nav a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
.container .homePhoto {
  position: relative;
  top: -85px;
  left: 0;
  height: 800px;
  background-color: #f39393;
}
.container .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 680px;
  width: 100%;
  margin-bottom: 100px;
}
.container .gallery .galleryPhoto {
  height: 340px;
  width: 340px;
  margin: 4px;
  background-color: #b9b9b9;
  border: solid 2px #fceff5;
  border-radius: 2px;
  transition: 0.3s linear;
}
.container .gallery .galleryPhoto:hover {
  transform: scale(1.06);
  border-color: #646464;
}
.container .products {
  display: flex;
  justify-content: space-evenly;
  width: 1400px;
  margin-top: 50px;
}
.container .products div {
  width: 400px;
  height: 800px;
  border: solid 5px #f7dbe8;
  transition: transform 0.5s linear;
}
.container .products div p {
  color: #222;
  font-size: 14px;
  font-weight: 200;
  font-family: "Oswald", sans-serif;
  padding: 0 30px 10px 30px;
  cursor: default;
  background-color: rgba(252, 239, 245, 0.9);
  visibility: hidden;
  transform: scale(0);
  transition: 0.3s linear;
}
.container .products div p span {
  display: block;
  color: #222;
  font-size: 25px;
  font-weight: 300;
  padding-top: 10px;
  text-align: center;
}
.container .products div:hover {
  transform: scale(1.02);
}
.container .products div:hover p {
  transform: scale(1);
  visibility: visible;
  border-bottom: solid 3px #f7dbe8;
}
.container .products div:nth-child(1) {
  background-image: url(../images/wineRed.jpg);
  opacity: 80%;
  transition: 0.3s linear;
}
.container .products div:nth-child(2) {
  background-image: url(../images/wineRose.jpg);
  opacity: 80%;
  transition: 0.3s linear;
}
.container .products div:nth-child(3) {
  background-image: url(../images/wineWhite.jpg);
  opacity: 80%;
  transition: 0.3s linear;
}
.container .products div:nth-child(1):hover, .container .products div:nth-child(2):hover, .container .products div:nth-child(3):hover {
  opacity: 100%;
}
.container .aboutUs {
  width: 100%;
  height: 450px;
  margin-top: 150px;
  background-color: #f76b6b;
}
.container .aboutUs .block {
  width: 100%;
  height: 100%;
  padding: 30px 650px 20px 20px;
  -webkit-clip-path: polygon(0 0, 60% 0, 100% 0, 100% 50px, 59% 50px, 40% 100%, 0% 100%);
          clip-path: polygon(0 0, 60% 0, 100% 0, 100% 50px, 59% 50px, 40% 100%, 0% 100%);
  background-color: #ff9898;
  transform: translateY(-50px);
  transition: 0.5s linear;
}
.container .aboutUs:hover .block {
  -webkit-clip-path: polygon(0 0, 60% 0, 100% 0, 100% 100%, 59% 100%, 40% 100%, 0% 100%);
          clip-path: polygon(0 0, 60% 0, 100% 0, 100% 100%, 59% 100%, 40% 100%, 0% 100%);
  transform: translateY(0);
}
.container .aboutUs .moreInfo {
  display: inline-block;
  font-size: 30px;
  border: solid 2px #333;
  border-radius: 3px;
  background-color: #f76b6b;
  padding: 6px 20px;
  transform: translateX(800px);
  cursor: pointer;
  transition: 0.3s linear;
}
.container .aboutUs .moreInfo:hover {
  border-color: red;
  color: red;
  background-color: #fff;
}