
//---------------> HOME PAGE <---------------//
//---------------> HOME PAGE <---------------//


.container {

     width: 1400px;
     height: 2000px;
     margin: 20px auto 20px auto;
     background-color: #fceff5;
     border-radius: 8px;
     box-shadow: 0 0 10px 1px #aaa;


     //----------> CONTAINER : HEADER <----------//
     header {

          height: 650px;
          background-image: url(../images/headerPhoto.jpg);
          border-radius: 8px 8px 0 0;


          //----------> HEADER : HEADER BAR <----------//
          .headerBar {

               display: flex;
               justify-content: space-between;


               //----------> HEADER BAR : LOGO HOME PAGE <----------//
               .logoHomePage {
          
                    display: flex;                    
                    margin: 5px 0 0 10px;
                    transform: scale(0.7);
                    perspective: 1000px;
                    height: 80px;
               
               
                    //----------> LOGO HOME PAGE : IMG <----------//
                    img {

                         cursor: default;
                         transition: 1s linear;

                    }


                    //----------> LOGO HOME PAGE : H1 <----------//
                    h1 {
               
                         font-size: 40px;
                         font-weight: 400;
                         font-family: "Operator Mono", sans-serif;
                         font-style: italic;
                         margin: auto 0;
                         cursor: default;
                         transition: 1s linear;
                         
                    }


                    //----------> LOGO HOME PAGE : HOVER > IMG <----------//
                    &:hover img {

                         transform: rotateY(1080deg);

                    }


                    //----------> LOGO HOME PAGE : HOVER > H1 <----------//
                    &:hover h1 {

                         transform: rotateX(1080deg);

                    }
          
               } // END/ .logoHomePage <-----//


               //----------> HEADER : NAV BAR <----------//
               nav {

                    display: flex;
                    margin-top: 5px;


                    //----------> NAV BAR : A <----------//
                    a {

                         position: relative;
                         color: #666;
                         font-size: 20px;
                         font-weight: 400;
                         font-style: italic;
                         text-decoration: none;
                         margin: auto 50px auto 0;
                         transition: .2s linear;


                         //----------> A : LAST-CHILD <----------//
                         &:last-child {

                              margin-right: 200px;

                         }


                         //----------> A : BEFORE <----------//
                         &::before {

                              position: absolute;
                              content: '';
                              bottom: -3px;
                              left: 0;
                              height: 2px;
                              width: 100%;
                              background-color: #222;
                              visibility: hidden;
                              transform: scaleX(0);
                              transition: all 0.3s ease-in-out 0s;

                         }


                         //----------> A : HOVER <----------//
                         &:hover {

                              color: #222;

                         }


                         //----------> A : HOVER::BEFORE <----------//
                         &:hover::before {

                              visibility: visible;
                              transform: scaleX(1);

                         }

                    } // END/ a <-----//

               } // END/ nav <-----//

          } // END/ .headerBar <-----//
     
     } // END/ header <-----//


     //----------> CONTAINER : PRODUCTS <----------//
     .products {

          display: flex;
          justify-content: space-evenly;
          width: 1400px;
          margin-top: 50px;


          //----------> PRODUCTS : DIV <----------//
          div {

               width: 400px;
               height: 800px;
               border: solid 5px #f7dbe8;
               transition: transform .5s linear;

      
               //----------> DIV : P <----------//
               p {

                    color: #222;
                    font-size: 14px;
                    font-weight: 200;
                    font-family: 'Oswald', sans-serif;
                    padding: 0 30px 10px 30px;
                    cursor: default;
                    background-color: rgba($color: #fceff5, $alpha: 0.9);
                    visibility: hidden;
                    transform: scale(0);
                    transition: .3s linear;


                    //----------> P : SPAN <----------//
                    & span {

                         display: block;
                         color: #222;
                         font-size: 25px;
                         font-weight: 300;
                         padding-top: 10px;
                         text-align: center;
     
                    }


               } // END/ p <-----//


               //----------> DIV : HOVER <----------//
               &:hover {

                    transform: scale(1.05);

               }


               //----------> DIV : HOVER > P <----------//
               &:hover p {

                    transform: scale(1);
                    visibility: visible;
                    border-bottom: solid 3px #f7dbe8;

               }


               //----------> PRODUCTS : DIV:NTH-CHILD(1) <----------//
               &:nth-child(1) {

                    background-image: url(../images/wineRed.jpg);
                    opacity: 80%;
                    transition: .3S linear;


                    //----------> DIV:NTH-CHILD(1) : HOVER <----------//
                    &:nth-child(1):hover {

                         opacity: 100%;

                    }

               } // END/ div:nth-child(1) <-----//


               //----------> PRODUCTS : DIV:NTH-CHILD(2) <----------//
               &:nth-child(2) {

                    background-image: url(../images/wineRose.jpg);
                    opacity: 80%;
                    transition: .3S linear;


                    //----------> DIV:NTH-CHILD(2) : HOVER <----------//
                    &:nth-child(2):hover {

                         opacity: 100%;

                    }

               } // END/ div:nth-child(2) <-----//


               //----------> PRODUCTS : DIV:NTH-CHILD(3) <----------//
               &:nth-child(3) {

                    background-image: url(../images/wineWhite.jpg);
                    opacity: 80%;
                    transition: .3S linear;


                    //----------> DIV:NTH-CHILD(3) : HOVER <----------//
                    &:nth-child(3):hover {

                         opacity: 100%;

                    }

               } // END/ div:nth-child(3) <-----//
          
          } // END/ div <-----//

     } // END/ .products <-----//

} // END/ .container <-----//