@import "lowPriority.scss";

.container {
     width: 1600px;
     height: max-content;
     background-color: #fff;
     margin: 20px auto;
     border-radius: 2px;
     box-shadow: 0 0 10px 3px #aaa;

     header {
          display: flex;
          justify-content: space-between;
          position: sticky;
          top: 0;
          z-index: 10;
          user-select: none;
          background-color: rgba($color: #fceff5, $alpha: 0.9);
          border-bottom: solid 5px #f7dbe8;

          .logoHome {
               display: flex;
               justify-content: space-between;
               width: 100px;
               height: 55px;
               margin: 25px 0 0 30px;

               img {
                    height: 140px;
                    transform: translate(0, -25px);
               }
          }

          nav {
               display: flex;
               margin-top: 5px;

               a {
                    position: relative;
                    color: #666;
                    font-size: 20px;
                    font-weight: 400;
                    font-style: italic;
                    margin: auto 70px auto 0;
                    transition: 0.1s linear;

                    &:hover {
                         color: #3f1327;
                         transform: scale(1.2);
                    }

                    &:nth-child(2) {
                         cursor: default;
                         color: #3f1327;
                         font-weight: 900;
                         transform: scale(1.4);
                    }

                    &:last-child {
                         margin-right: 150px;
                    }
               }
          }
     }

     .photo {
          display: grid;
          justify-content: center;
          grid-template-columns: 480px 480px 480px;
          grid-template-rows: 290px 290px 290px 290px 290px;
          column-gap: 30px;
          row-gap: 30px;
          padding-top: 62px;
          padding-bottom: 30px;

          div {
               cursor: pointer;
               background-color: rgb(27, 102, 163);
               border: 1px solid #ccc;
               border-radius: 6px;
               transition: 0.2s linear;

               &:hover {
                    transform: scale(1.03);
                    border: 1px solid #777;
                    border-radius: 10px;
               }
          }
     }

     .socialBar {
          display: flex;
          justify-content: center;
          height: 120px;

          a {
               display: flex;
               justify-content: center;
               align-items: center;
               height: 60px;
               width: 60px;
               margin: auto 15px;
               border-radius: 3px;
               box-shadow: 0 0 8px 1px #ddd;
               transition: 0.1s linear;

               img {
                    transform: scale(0.8);
               }

               &:hover {
                    border-radius: 5px;
                    box-shadow: 0 0 8px 1px #bbb;
                    transform: scale(1.1);
               }
          }
     }

     footer {
          display: flex;
          user-select: none;
          width: 100%;
          height: 80px;
          background-color: #fceff5;
          border-top: solid 5px #f7dbe8;

          .copyright {
               display: flex;
               justify-content: left;
               align-items: center;
               width: 70%;
               height: 100%;

               img {
                    width: 70px;
                    margin-left: 10px;
               }

               p {
                    cursor: default;
                    display: inline;
                    margin-left: 20px;
               }
          }

          .otherLinks {
               width: 30%;
               height: 80%;
               margin: auto;

               a {
                    display: block;
                    margin-bottom: 3px;
                    color: #222;
                    transition: 0.2s linear;

                    &:hover {
                         color: blue;
                         padding-left: 20px;
                    }
               }
          }
     }
}
