
//---------------> ABOUT US <---------------//
//---------------> ABOUT US <---------------//


//----------> CONTAINER <----------//
.container {

     width: 1400px;
     height: 800px;
     background-color: #fceff5;
     margin: 20px auto;
     border-radius: 2px;
     box-shadow: 0 0 10px 1px #aaa;

}