@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");
body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
}

.preload {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

*, * before, * after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a, a:visited, a:hover {
  color: #000;
  text-decoration: none;
}

.container {
  width: 1400px;
  height: -webkit-max-content;
  height: max-content;
  background-color: #fceff5;
  margin: 20px auto;
  border-radius: 2px;
  box-shadow: 0 0 10px 1px #aaa;
}
.container header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
  -webkit-user-select: none;
          user-select: none;
  background-color: rgba(252, 239, 245, 0.9);
  border-bottom: solid 5px #f7dbe8;
}
.container header .logoHome {
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 55px;
  margin: 25px 0 0 30px;
}
.container header .logoHome img {
  height: 140px;
  transform: translate(0, -25px);
}
.container header nav {
  display: flex;
  margin-top: 5px;
}
.container header nav a {
  position: relative;
  color: #666;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  margin: auto 70px auto 0;
  transition: 0.2s linear;
}
.container header nav a:hover {
  color: #333;
  transform: scale(1.2);
}
.container header nav a:nth-child(4) {
  cursor: default;
  background-color: #fceff5;
  color: #333;
  padding: 10px 15px;
  border-radius: 2px;
  transform: scale(1.3);
  box-shadow: 0px 0px 4px 1px #888;
}
.container header nav a:last-child {
  margin-right: 150px;
}
.container main .history {
  width: 100%;
  height: 400px;
  text-align: center;
  border-bottom: solid 5px #f7dbe8;
}
.container main .history h2 {
  margin: 20px;
}
.container main .history p {
  margin: 25px;
}
.container main .slideshow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  border-bottom: solid 5px #f7dbe8;
}
.container main .slider {
  width: 1200px;
  height: 550px;
  border-radius: 10px;
  overflow: hidden;
}
.container main .slides {
  width: 500%;
  height: 550px;
  display: flex;
}
.container main .slides input {
  display: none;
}
.container main .slide {
  width: 20%;
  transition: 2s;
}
.container main .slide img {
  width: 1200px;
  height: 550px;
}
.container main .navigation-manual {
  position: absolute;
  width: 1200px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}
.container main .manual-btn {
  border: 2px solid #fff;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s background linear;
}
.container main .manual-btn:not(:last-child) {
  margin-right: 50px;
}
.container main .manual-btn:hover {
  background: #f0c0d6;
}
.container main #radio1:checked ~ .first {
  margin-left: 0;
}
.container main #radio2:checked ~ .first {
  margin-left: -20%;
}
.container main #radio3:checked ~ .first {
  margin-left: -40%;
}
.container main #radio4:checked ~ .first {
  margin-left: -60%;
}
.container main .info {
  display: flex;
  height: 450px;
  border-bottom: solid 5px #f7dbe8;
}
.container main .info .description {
  width: 50%;
}
.container main .info #map {
  width: 50%;
}
.container footer {
  display: flex;
  -webkit-user-select: none;
          user-select: none;
  width: 100%;
  height: 80px;
  background-color: #fceff5;
  margin-top: 300px;
  border-top: solid 5px #f7dbe8;
}
.container footer .copyright {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 70%;
  height: 100%;
}
.container footer .copyright img {
  width: 70px;
  margin-left: 10px;
}
.container footer .copyright p {
  cursor: default;
  display: inline;
  margin-left: 20px;
}
.container footer .otherLinks {
  width: 30%;
  height: 80%;
  margin: auto;
}
.container footer .otherLinks a {
  display: block;
  margin-bottom: 3px;
  color: #222;
  transition: 0.2s linear;
}
.container footer .otherLinks a:hover {
  color: blue;
  padding-left: 20px;
}