.container {
  width: 1600px;
  height: -webkit-max-content;
  height: max-content;
  background-color: #fff;
  margin: 20px auto;
  border-radius: 2px;
  box-shadow: 0 0 10px 3px #aaa;
}
.container header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgba(252, 239, 245, 0.9);
  border-bottom: solid 5px #f7dbe8;
}
.container header .logoHome {
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 55px;
  margin: 25px 0 0 30px;
}
.container header .logoHome img {
  height: 140px;
  transform: translate(0, -25px);
}
.container header nav {
  display: flex;
  margin-top: 5px;
}
.container header nav a {
  position: relative;
  color: #666;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  margin: auto 70px auto 0;
  transition: 0.2s linear;
}
.container header nav a:hover {
  color: #222;
  transform: scale(1.1);
}
.container header nav a:last-child {
  margin-right: 150px;
}
.container header nav a::before {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #222;
  visibility: hidden;
  transform: scaleX(0);
  transition: 0.2s linear;
}
.container header nav a:nth-child(2) {
  color: #222;
  transform: scale(1.1);
}
.container header nav a:nth-child(2)::before {
  visibility: visible;
  transform: scaleX(1);
}
.container header nav a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
.container .photo {
  display: grid;
  justify-content: center;
  grid-template-columns: 480px 480px 480px;
  grid-template-rows: 290px 290px 290px 290px 290px;
  column-gap: 30px;
  row-gap: 30px;
  padding-top: 62px;
  padding-bottom: 30px;
}
.container .photo div {
  cursor: pointer;
  background-color: #1b66a3;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: 0.2s linear;
}
.container .photo div:hover {
  transform: scale(1.03);
  border: 1px solid #777;
  border-radius: 10px;
}
.container .socialBar {
  display: flex;
  justify-content: center;
  height: 130px;
  border-bottom: solid 5px #f7dbe8;
}
.container .socialBar a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  background-color: #fceff5;
  margin: auto 15px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  transition: 0.2s linear;
}
.container .socialBar a i {
  font-size: 40px;
}
.container .socialBar a:hover {
  border: 1px solid rgba(0, 0, 0, 0.01);
  transform: translateY(5px);
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px white, 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}
.container .socialBar a .fa-facebook {
  color: #3b5998;
}
.container .socialBar a .fa-instagram {
  color: #dc2e76;
}
.container .socialBar a .fa-whatsapp {
  color: #4fce5d;
}
.container .socialBar a .fa-telegram {
  color: #68c1ee;
}
.container .socialBar a .fa-pinterest {
  color: #e60019;
}
.container .socialBar a .fa-twitter {
  color: #00acee;
}
.container footer {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #fceff5;
}
.container footer .copyright {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 70%;
  height: 100%;
}
.container footer .copyright img {
  width: 70px;
  margin-left: 10px;
}
.container footer .copyright p {
  cursor: default;
  display: inline;
  margin-left: 20px;
}
.container footer .otherLinks {
  width: 30%;
  height: 80%;
  margin: auto;
}
.container footer .otherLinks a {
  display: block;
  margin-bottom: 3px;
  color: #222;
  transition: 0.2s linear;
}
.container footer .otherLinks a:hover {
  color: blue;
  padding-left: 20px;
}