@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");
body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
}

.preload {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

*,
* before,
* after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
a:visited,
a:hover {
  color: #000;
  text-decoration: none;
}

.container {
  width: 1600px;
  height: -webkit-max-content;
  height: max-content;
  background-color: #fff;
  margin: 20px auto;
  border-radius: 2px;
  box-shadow: 0 0 10px 3px #aaa;
}
.container header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
  -webkit-user-select: none;
          user-select: none;
  background-color: rgba(252, 239, 245, 0.9);
  border-bottom: solid 5px #f7dbe8;
}
.container header .logoHome {
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 55px;
  margin: 25px 0 0 30px;
}
.container header .logoHome img {
  height: 140px;
  transform: translate(0, -25px);
}
.container header nav {
  display: flex;
  margin-top: 5px;
}
.container header nav a {
  position: relative;
  color: #666;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  margin: auto 70px auto 0;
  transition: 0.1s linear;
}
.container header nav a:hover {
  color: #3f1327;
  transform: scale(1.2);
}
.container header nav a:nth-child(2) {
  cursor: default;
  color: #3f1327;
  font-weight: 900;
  transform: scale(1.4);
}
.container header nav a:last-child {
  margin-right: 150px;
}
.container .photo {
  display: grid;
  justify-content: center;
  grid-template-columns: 480px 480px 480px;
  grid-template-rows: 290px 290px 290px 290px 290px;
  column-gap: 30px;
  row-gap: 30px;
  padding-top: 62px;
  padding-bottom: 30px;
}
.container .photo div {
  cursor: pointer;
  background-color: #1b66a3;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: 0.2s linear;
}
.container .photo div:hover {
  transform: scale(1.03);
  border: 1px solid #777;
  border-radius: 10px;
}
.container .socialBar {
  display: flex;
  justify-content: center;
  -webkit-user-select: none;
          user-select: none;
  height: 120px;
}
.container .socialBar a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  margin: auto 15px;
  border-radius: 3px;
  box-shadow: 0 0 8px 1px #ddd;
  transition: 0.1s linear;
}
.container .socialBar a img {
  transform: scale(0.8);
}
.container .socialBar a:hover {
  border-radius: 5px;
  box-shadow: 0 0 8px 1px #bbb;
  transform: scale(1.1);
}
.container footer {
  display: flex;
  -webkit-user-select: none;
          user-select: none;
  width: 100%;
  height: 80px;
  background-color: #fceff5;
  border-top: solid 5px #f7dbe8;
}
.container footer .copyright {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 70%;
  height: 100%;
}
.container footer .copyright img {
  width: 70px;
  margin-left: 10px;
}
.container footer .copyright p {
  cursor: default;
  display: inline;
  margin-left: 20px;
}
.container footer .otherLinks {
  width: 30%;
  height: 80%;
  margin: auto;
}
.container footer .otherLinks a {
  display: block;
  margin-bottom: 3px;
  color: #222;
  transition: 0.2s linear;
}
.container footer .otherLinks a:hover {
  color: blue;
  padding-left: 20px;
}