body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
}

*, * before, * after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 1680px;
  height: -webkit-max-content;
  height: max-content;
  background-color: #fceff5;
  margin: 20px auto;
  border-radius: 2px;
  box-shadow: 0 0 10px 1px #aaa;
}
.container .photo {
  display: grid;
  justify-content: center;
  grid-template-columns: 400px 200px 200px 400px 400px;
  grid-template-rows: 200px 200px 200px 200px 200px;
  column-gap: 13px;
  row-gap: 13px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.container .photo .blockTypeA {
  background-color: red;
}
.container .photo .blockTypeB {
  background-color: blue;
}